.filter__container {
  margin-top: 20px;
}

.label {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 480px) {
  .label {
    font-size: 16px;
  }
}

.input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;

  border-color: #10abff;
  border-radius: 9999em;
  outline-style: inherit;
}

.input:focus,
.input:hover {
  box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 10px #1beabd,
    -3px 3px 10px #10abff;
}
