.link {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #2a363b;
}

@media screen and (max-width: 719px) and (min-width: 480px) {
  .link {
    font-size: 16px;
  }
}

@media screen and (min-width: 720px) {
  .link {
    font-size: 18px;
  }
}

.activeLink {
  color: #e84a79;
}

.link:focus,
.link:hover {
  color: #e84a79;
  box-shadow: 0 8px 6px -6px #e84a79;
}

.activeLink:focus,
.activeLink:hover {
  color: #2a363b;
  box-shadow: 0 8px 6px -6px #10cfff;
}
