#root {
  margin-top: 30px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 15px;
  width: 280px;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

  border-radius: 15px;
}

@media screen and (min-width: 480px) {
  #root {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 50px 100px;
    width: 400px;
  }
}
