#root {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 100px;
  /* padding-left: 50px; */
  width: 400px;
  background: linear-gradient(21deg, #f0f8f8, #f1f5fc);
  border-radius: 15px;
}
